<form method="post" action="{{ path('app_coupouns_delete', {'idCoupouns': coupoun.idCoupouns}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coupoun.idCoupouns) }}">
    <button class="btn">Delete</button>
</form>
